* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    color: #333;
    background: linear-gradient(to bottom right, #6fcde5, #ffd1dc);
}
